# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# IDE settings
.vscode

# Secrets
secrets.yml
getplant_creds.json
my_so_is_amazing.love